<%= javascript_include_tag "jquery-1.3.2.min.js" -%>
<script language="javascript" src="/javascripts/simpleswap.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#start").click(function() {
			window.location = "/blast";
		});
		$(".reveal").click(function() {
			var id = $(this).attr("id").split("-")[1];
			$(this).hide();
			$("#answer-" + id).show();
		});
	});
</script>
<div id="instructions">
	<div id="ffinger"><small><span id="question_value">thanks for playing</span></small><br/><span id="question_category">GAME OVER!</span></div>
	<div id="q" style="font-variant: normal; font-size: 18px; line-height: 1.2em; width: 650px">
		<p>You ended up with <strong><%= @final_score %></strong>, and it took you <span style="border-bottom: 1px solid white;"><%= @time %></span>.<br/><br/>To share this game with friends, or to play it again later, remember this url: <br/><br/><span style="font-size: 24px;">jimbojeopardy.com/blast/play?game_id=<%= @game_id %>&amp;p_id=<%= @p_id %></span>. <br/><br/>Or click below to start a new game!<br/><br/></div>
		<input type="image" src="/images/newgame.png" oversrc="/images/newgame-hover.png" id="start"/>
</div>

<% if !@stumpers.empty? %>
<div style="text-align: left; color: white; margin-top: 50px; font-family: Optima,Georgia">
	<h3>Questions you got <span style="color: red">wrong</span>: </h3>
	<ol style="line-height: 1.5em">
	<% @stumpers.each do |q| %>
	<li>($<%= q.value %>) <%= q.question %>:</li>
		<ul style="list-style: none"><li><a href="#reveal" class="reveal" id="reveal-<%= q.id %>">(reveal answer)</a><span id="answer-<%= q.id %>" style="font-weight: bold; display: none;"><%= q.answer %></span></li></ul>
	<% end %>
	</ol>
</div>
<% end %>

<% if !@ignorants.empty? %>
<div style="text-align: left; color: white; margin-top: 50px; font-family: Optima,Georgia">
	<h3>Questions you <span style="text-decoration: underline">passed on</span>: </h3>
	<ol style="line-height: 1.5em">
	<% @ignorants.each do |q| %>
	<li>($<%= q.value %>) <%= q.question %>:</li>
		<ul style="list-style: none"><li><a href="#reveal" class="reveal" id="reveal-<%= q.id %>">(reveal answer)</a><span id="answer-<%= q.id %>" style="font-weight: bold; display: none;"><%= q.answer %></span></li></ul>
	<% end %>
	</ol>
</div>
<% end %>